# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
/docs/site/.astro/
/docs/site/dist/
/docs/site/src/content/docs/database/readme.md
/docs/site/src/content/docs/schema/manifest.md
/docs/site/src/content/docs/schema/structure.md
